{% extends "Everything/main.html" %}

{% block body %}

	<h1>Everything | Meerut</h1>

      <h3>Buy/Sale your product of shop even<br> if there is anything like shutdown!</h3>
<!--       <h3>This is online plateform<br>specially for the people of meerut.</h3> -->

      <p>This is online plateform specially for the people of meerut.</p>
      <p class="warning" style="margin-top: 100px;">#BeVocaltoLocal</p><!-- Limited time offer / Sorry, we are closed... -->
      <a class="btnm" href="{% url 'login' %}">Login to start your buy/sale journey!</a>
    

{% endblock %}